body {
  background-color: #000;
}
.clear {
  content: "";
  display: block;
  clear: both;
}
ul {
  margin: 0;
}
ul.a {
  padding: 10px;
}
ul.b {
  border: 1px solid #f00;
}
ul li {
  padding: 10px;
}
ul li::after {
  content: "";
  display: block;
  clear: both;
}
ul li a {
  border: 1px solid #000;
  color: #000;
}
ul li a:hover {
  text-decoration: underline;
}
